body,
html {
  margin: 0;
  padding: 0;
}

.header {
  background: #CCCCCC;
  padding: 20px;

  &-brand {
    font-size: 18px;
    margin: 0;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 500px;
  padding: 20px;

  .generate {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 450px;

    &-input {
      flex: 1 0;
      padding: 15px 10px;
      font-size: 16px;
    }
    &-submit {
      padding: 15px 10px;
      font-size: 16px;
    }
  }
}
