@import 'variables/colors';

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding: 3.5vh 0;
}

input:focus,
select:focus {
  outline: none;
}
