@import 'variables';

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $background;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 6.0vh 0;
}

h1 {
  margin: 0;
}

input:focus,
select:focus {
  outline: none;
}

button {
  padding: 0;
}
