@import 'variables';

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: radial-gradient(circle 248px at center, $blue1 0%, $blue2 47%, $blue3 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: 0;
  padding: 7.8vh 0 6.0vh 0;
}

h1 {
  margin: 0;
}

input:focus,
select:focus {
  outline: none;
}
