// $color1= hsla(185%, 14%, 17%, 1);
// $color2= hsla(208%, 55%, 44%, 1);
// $color3= hsla(200%, 46%, 78%, 1);
// $color4= hsla(43%, 100%, 50%, 1);
// $color5= hsla(0%, 0%, 91%, 1);

// $color1= #353C3F
// $color4= #FF8D3F
// $color3= #756867
// $color5= #D5D6D2

$main=#ECF0F1
$background=#2C3E50
$highlight=#E74C3C

$width=52vmax
$maxWidth=480px
$borderRadius=3px
