<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="Generate RSS feeds from SoundCloud likes and tracks">
    <meta name="author" content="Adrian Kumpf">
    <meta name="theme-color" content="#2c3e50">
    <title>SoundFeed |  Generate SoundCloud RSS Feeds</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
    <%= if script = @conn.assigns[:script] do %>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, script) %>"></script>
    <% end %>
  </head>
  <body>
    <header class="header">
      <a href="<%= Routes.page_path @conn, :index %>" class="main">
        <h1>SoundFeed</h1>
      </a>
      <p class="subheader">Generate RSS feeds for any SoundCloud user</p>
    </header>
    <main role="main">
      <%= @inner_content %>
    </main>
    <footer class="footer">
      <a href="<%= Routes.page_path @conn, :faq %>" class="footer-item">
        FAQ
      </a>
      <a href="<%= Routes.page_path @conn, :index %>" class="footer-item">
        ☁
      </a>
      <a href="https://github.com/adriankumpf/soundfeed" class="footer-item">
        Github
      </a>
    </footer>
  </body>
</html>
