@import '../variables.styl'

.feed-url{
  display: flex;
  justify-content: center;
  align-items: center;
  width: $maxWidth;
  background: white;
  padding: 10px;
  height: 155px;
  font-size: 14px;
  color: $blue2;
  font-weight: bold;
  border-radius: 5px;
  transform: translate3d(-200%, 0, 0);
  position: absolute;
  top: 0;
}

