@import '../variables'

.footer {
  display: flex;
  width: $width;
  max-width: $maxWidth;
  font-size: 12px;
  letter-spacing: 5px;


  &-item {
    flex: 1 1 0;
    color: $main;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;

    &:hover {
      color: darken($main, 15%)
    }
  }
}
