@import '../variables'

.footer {
  display: flex;
  justify-content: space-between;
  width: $width;
  max-width: $maxWidth;

  &-item {
    color: $white;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
  }
}
