@import '../variables'
@import '../mixins';

.footer {
  display: flex;
  vWidth($width);
  max-width: $maxWidth;
  font-size: 12px;
  letter-spacing: 5px;


  &-item {
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
    flex: 1 1 0;
    color: $main;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;

    &:hover {
      color: darken($main, 15%)
    }
  }
}
