@import '../variables';

.generator {
  margin-top: -20%;
  position: relative;

  .form {
    height: 155px;
    width: $width;
    max-width: $maxWidth;

    @keyframes shake {
      0%,
      100% {
        transform: translateX(0);
      }

      10%,
      50%,
      90% {
        transform: translateX(-3px);
      }

      20%,
      60% {
        transform: translateX(3px);
      }
    }

    &.shake {
      animation-duration: 0.25s;
      animation-fill-mode: both;
      animation-name: shake;
    }

    .profile-url,
    .submit,
    .type {
      border: 1px solid rgba($main, 0.4);
      height: 45px;
      width: 100%;
      background-color: rgba($main, 0.1);
      border-radius: $borderRadius;
      margin-bottom: 10px;
      text-align: center;
      font-size: 18px;
      color: $main;
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      font-weight: 300;
      outline: 0;
      padding: 0 8px;
    }

    .profile-url,
    .type {
      &::placeholder {
        font-weight: 300;
        color: $main;
      }

      &:hover {
        background-color: rgba($main, 0.2);
      }
    }

    .type {
      position: relative;

      &-select {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        appearance: none;
        cursor: pointer;
        border: none;
        width: 100%;
        background: transparent;
        font-size: 18px;
        font-weight: 300;
        color: $main;
      }

      &:after {
        pointer-events: none;
        position: absolute;
        display: block;
        content: '';
        width: 10px;
        height: 10px;
        top: 50%;
        right: 15px;
        margin-top: -3px;
        border-bottom: 1px solid $main;
        border-right: 1px solid $main;
        transform: rotate(45deg) translateY(-50%);
        transform-origin: 50% 0%;
      }
    }

    .submit {
      display: block;
      position: absolute;
      bottom: 0;
      cursor: pointer;
      background-color: $highlight;
      color: $main;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      margin-bottom: 0;

      &:hover:enabled:not(.full) {
        background-color: lighten($highlight, 5%);
      }

      &-btn {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-spinner {
        display: inline-block;
        width: 70px;
        text-align: center;

        & > div {
          width: 10px;
          height: 10px;
          background-color: $main;
          border-radius: 100%;
          display: inline-block;
          animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        }

        .bounce1 {
          animation-delay: -0.32s;
        }

        .bounce2 {
          animation-delay: -0.16s;
        }

        @keyframes sk-bouncedelay {
          0%,
          80%,
          100% {
            transform: scale(0);
          }

          40% {
            transform: scale(1.0);
          }
        }
      }

      &.full {
        cursor: default;
        height: 155px;
        background-color: $main;
        padding: 0 20px;

        $width=15;
        .arrow {
          display: inline-block;
          cursor: pointer;
          width: $width px;
          height: $width px;
          margin: -($width / 2)px 0 0 - ($width / 2)px;
          transform: rotate(45deg);
          border-left: none;
          border-top: none;
          border-right: 2px $highlight solid;
          border-bottom: 2px $highlight solid;

          &:hover {
            border-color: lighten($highlight, 15%);
          }
        }

        .submit-url {
          display: block;
          overflow-wrap: break-word;
          margin: 0 auto;
          font-family: monospace;
          border: none;
          border-radius: $borderRadius;
          margin-bottom: 20px;
          font-size: 0.8em;
          padding: 10px;
          background-color: darken($main, 10%);
          color: $background;
        }
      }

      .hide {
        display: none;
      }
    }
  }
}
