@import '../variables';

.generator {
  position: relative;

  @media (min-height: $minHeight) {
    margin-top: -20%;
  }

  .form {
    height: 155px;
    width: $width;
    max-width: $maxWidth;

    &.shake {
      animation-duration: 0.25s;
      animation-fill-mode: both;
      animation-name: shake;
    }

    .profile-url,
    .submit,
    .type {
      border: 1px solid rgba($main, 0.4);
      height: 45px;
      width: 100%;
      background-color: rgba($main, 0.1);
      border-radius: $borderRadius;
      margin-bottom: 10px;
      text-align: center;
      font-size: 18px;
      color: $main;
      transition: height 0.3s cubic-bezier(.25, .8, .25, 1);
      font-weight: 300;
      outline: 0;
      padding: 0 8px;
    }

    .profile-url,
    .type {
      &::placeholder {
        font-weight: 300;
        color: $main;
      }

      &:hover {
        background-color: rgba($main, 0.2);
      }
    }

    .type {
      position: relative;

      &-select {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        appearance: none;
        cursor: pointer;
        border: none;
        width: 100%;
        background: transparent;
        font-size: 18px;
        font-weight: 300;
        color: $main;
        text-align: center;

        option {
          color: black;
        }
      }

      &:after {
        pointer-events: none;
        position: absolute;
        display: block;
        content: '';
        width: 10px;
        height: 10px;
        top: 50%;
        right: 15px;
        margin-top: -3px;
        border-bottom: 1px solid $main;
        border-right: 1px solid $main;
        transform: rotate(45deg) translateY(-50%);
        transform-origin: 50% 0%;
      }
    }

    .submit {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      cursor: pointer;
      font-weight: 600;
      background-color: $highlight;
      color: $main;
      box-shadow: 0 4px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      margin-bottom: 0;
      border: none;

      &:hover:enabled:not(.full) {
        background-color: lighten($highlight, 5%);
      }

      &.loading {
        & > .submit-spinner {
          display: block;
        }
        & > .submit-btn {
          display: none;
        }
      }

      &.full {
        cursor: default;
        height: 155px;
        background-color: $main;
        padding: 0 20px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        & > .submit-close,
        & > .submit-url {
          display: block;
        }

        & > .submit-btn {
          display: none;
        }
      }

      &-btn {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
      }

      &-spinner {
        display: none;
      }

      &-close {
        display: none;
        position: absolute
        top: 10px
        right: 10px
      }

      &-url {
        display: none;
        overflow-wrap: break-word;
        margin: 0 auto;
        font-family: monospace;
        border: none;
        border-radius: $borderRadius;
        font-size: 0.8em;
        padding: 20px 10px;
        background-color: darken($main, 10%);
        color: $background;
        max-width: 100%;
      }
    }
  }
}
