@import '../variables';

::-webkit-input-placeholder { /* WebKit browsers */
  font-weight: 300;
  color: $white;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  opacity: 1;
  font-weight: 300;
  color: $white;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  opacity: 1;
  font-weight: 300;
  color: $white;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-weight: 300;
  color: $white;
}

// h1 {
//   font-size: 40px;
//   transition-duration: 1s;
//   transition-timing-function: ease-in-put;
//   font-weight: 200;
// }

.generator {
  width: $maxWidth;
  max-width: 300px;

  .username,
  .submit
  .type, {
    border: 1px solid rgba(255, 255, 255, 0.4);
    height: 45px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
    transition-duration: 0.25s;
    font-weight: 300;
    outline: 0;

    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }

  .type {
    position: relative;

    &-select {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      appearance: none;
      cursor: pointer;
      border: none;
      width: 100%;
      background: transparent;
      font-size: 18px;
      font-weight: 300;
      color: white;
    }

    &:after {
      pointer-events: none;
      position: absolute;
      display: block;
      content: '';
      width: 10px;
      height: 10px;
      top: 50%;
      right: 15px;
      margin-top: -3px;
      border-bottom: 1px solid $white;
      border-right: 1px solid $white;
      transform: rotate(45deg) translateY(-50%);
      transform-origin: 50% 0%;
    }
  }

  .submit {
    background-color: white;
    color: $blue2;
    cursor: pointer;

    &:hover {
      background-color: rgb(245, 247, 249);
    }
  }
}

//   .description {
//     font-size: 12px;
//     letter-spacing: 1px;
//     color: $darkgrey;
//     line-height: 1.3em;
//     margin-top: 15px;
//   }
