@import '../variables';

.header {
  font-size: 4.5vmin;
  letter-spacing: 5px;

  .main {
    cursor: pointer;
    color: $highlight;
    text-decoration: none;
  }

  .subheader {
    margin: 0 auto;
    margin-top: 10px;
    max-width: $maxWidth;
    width: $width;
    font-size: 2.8vmin;
    color: $main;
  }
}
