@import '../variables';

.header {
  cursor: default;
  color: $white;
  font-size: 4.5vmin;
  letter-spacing: 5px;

  .subheader {
    margin: 0 auto;
    margin-top: 10px;
    max-width: $maxWidth;
    width: $width;
    font-size: 2.8vmin;
  }
}
