@import '../variables';
@import '../mixins';

.header {
  responsive-font(6.6vw, 20px, 40px)
  letter-spacing: 5px;
  text-align: center;

  .main {
    cursor: pointer;
    color: $highlight;
    text-decoration: none;
  }

  .subheader {
    margin: 0 auto;
    margin-top: 10px;
    max-width: $maxWidth;
    width: $width;
    responsive-font(4.0vw, 14px, 22px)
    color: $main;
  }
}
