<form>
  <div class="input">
    <input type="text" class="username" placeholder="Enter your username">
    <input type="submit" class="submit" value="Generate">
  </div>
  <div class="description">
    <p><code>soundcloud.com/<strong>yourUsername</strong></code></p>
  </div>
</form>
