<div class="wrapper">

  <form id="generator" class="generator">
    <input id="username" class="username" type="text" spellcheck="false">
    <div id="type" class="type">
      <select id="select" class="type-select">
        <option selected>Likes</option>
        <option>Reposts</option>
      </select>
    </div>
    <button type="button" id="submit" class="submit">
      <span class="submit-btn">Generate</span>
      <span class="submit-url"></span>
    </button>
  </form>

</div>

