@import './globals';
@import './mixins';
@import './variables';
@import './animations';

@import './modules/close';
@import './modules/faq';
@import './modules/footer';
@import './modules/generator';
@import './modules/header';
@import './modules/spinner';

