@import '../variables';
@import '../mixins';

.faq {
  max-width: $maxWidth;
  margin: 50px 0;
  vWidth($width);

  .qa {
    margin-bottom: 20px;
    background-color: rgba($main, 0.1);
    overflow-wrap: break-word;
    text-align: center;
    border-radius: 5px;
    padding: 15px;

    .question {
      color: $highlight;
      font-size: 18px;
    }

    .answer {
      color: $main;
      font-size: 16px;
    }
  }
}
