@import '../variables';

.spinner {
  display: inline-block;
  width: 70px;
  text-align: center;

  & > div {
    width: 10px;
    height: 10px;
    background-color: $main;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .bounce1 {
    animation-delay: -0.32s;
  }

  .bounce2 {
    animation-delay: -0.16s;
  }
}
