<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Soundcloud RSS</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
    <header class="header">
      <h1 class="main">SoundFeed</h1>
      <p class="subheader">Generate RSS feeds for any SoundCloud user</p>
    </header>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer class="footer">
      <a href="<%= page_path @conn, :faq %>" class="footer-item">
        FAQ
      </a>
      <span class="cloud">☁ </span>
      <a href="https://github.com/adriankumpf/soundcloud-rss" class="footer-item">
        Github
      </a>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
